{% extends 'partials/_layout.html' %}
{% set page_title = "Log In" %}
{% set container_class = "container-narrow" %}

{% block content %}
<header>
    <h1>Log in</h1>
</header>

{% set error_title = "Couldn't log in" %}
{% include 'partials/_error.html' %}

<form action="/login" method="POST" class="upload-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label class="upload-field">
        <span class="upload-label">Username</span>
        <input type="text" name="username" required autofocus>
    </label>
    <label class="upload-field">
        <span class="upload-label">Password</span>
        <input type="password" name="password" required>
    </label>
    <button type="submit" class="btn btn-primary btn-lg">Log In</button>
</form>

<div class="upload-notes">
    <p>Don't have an account? <a class="inline-link" href="/register">Sign up</a></p>
</div>
{% endblock %}
